/*Universal Styles*/

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-size: var(--SiteFontSize);
    font-family: var(--SiteFontFamily);
    z-index:-10;
}

html, body {
    background-color:var(--BackgroundColor);
    height:100%;
    width:100%;
}

/*Main - Menu Styles*/

#topMenu {
    height: 48px;
    width: 100% ;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.7);
    background-color: var(--MenuBackgroundColor);
    position: fixed;
    top: 0;
    left: 0;
    min-width:586px;
    z-index:10;
}

#subHead {
    height: 100% ;
    margin: 0 16px;

    width: -moz-calc(100%  - 32px);
    width: -webkit-calc(100%  - 32px);
    width: -o-calc(100%  - 32px);
    width: calc(100%  - 32px);
}

#subHead div {
    float: left;
}

#menuBurgerContainer {
    height: 32px;
    width: 32px;
    margin: 8px 16px 8px 0;
}

#menuIconHoverExtender {
    padding: 0 0 8px 0;
    height: 32px;
    width: 32px;
}

.menuIcon {
    height: 32px;
    width: 32px;
    border-radius:100px;
    
    position:fixed;
    
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    z-index:11;
    
    background-color:var(--MenuIconBackground);
    
    cursor:pointer;
    
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.menuIcon:hover {
    background-color:var(--MenuIconBackgroundHover);
}

.menuIcon:active {
    background-color:var(--MenuIconBackgroundClick);
}

.menuIcon svg {
    height: 24px;
    width: 24px;
    padding:4px;
    fill:var(--MenuIconColor);
    -webkit-transition: fill 0.5s;
    transition: fill 0.5s;
    
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.menuIcon:hover svg {
    fill:var(--MenuIconColorHover);
}

.menuIcon:active svg {
    fill:var(--MenuIconColorClick);
}

#logoContainer {
    width: 130px;
    height: 24px;
    margin-top: 12px;

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    
    font:var(--LogoFont);
    color:var(--LogoFontColor);
}

#searchContainer {
    height: 28px;

    width: -moz-calc(100%  - 556px);
    width: -webkit-calc(100%  - 556px);
    width: -o-calc(100%  - 556px);
    width: calc(100%  - 556px);
    
    margin: 0 40px;
    overflow:hidden;

    padding:10px 0;
}

#searchBox {
    height: 28px;
    max-width:656px;
    width:100%;
    min-width:55px;
}

#searchBox input {
    float:left;
    height:28px;
    border-radius: 3px 0 0 3px;
    border:none;
    padding: 0 10px 0 10px;
    line-height: 28px;
    
    width: -moz-calc(100%  - 55px);
    width: -webkit-calc(100%  - 55px);
    width: -o-calc(100%  - 55px);
    width: calc(100%  - 55px);
    background-color:var(--MenuSearchBoxBackgroundColor);
    color:var(--MenuSearchBoxTextColor);
    font:var(--MenuSearchBoxTextFont);
}

#searchBox input:focus + #searchLogo svg {
    fill:var(--MenuSearchLogoColorFocus);
}
#searchBox:hover svg {
    fill:var(--MenuSearchLogoColorFocus);
}
#searchBox input:focus + #searchLogo {
    background-color:var(--MenuSearchLogoBackgroundColorFocus);
}
#searchBox:hover #searchLogo {
    background-color:var(--MenuSearchLogoBackgroundColorFocus);
}

#searchLogo {
    height:28px;
    width:35px;
    float:right;
    background-color:var(--MenuSearchLogoBackgroundColor);
    border-radius: 0 3px 3px 0;
    
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#searchLogo svg {
    fill:var(--MenuSearchLogoColor);
    width:28px;
    height:28px;
    margin:0 0 0 5px;
    
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

#autoplayContainer {
    height: 20px;
    width: 120px;
    padding: 14px 0;
    margin: 0 16px 0 0;
}

#autoText{
    color:var(--MenuAutoplayText);
    font:var(--MenuAutoplayFont);
    position:relative;
    top:-4px;
    margin:0 5px 0 0;
}

#loginContainer {
    margin:8px 0;
}

#loginButton {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    color: var(--MenuLoginText);
    background-color: var(--MenuLoginBackground);
    cursor:pointer;
    
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

#loginButton:hover {
    color: var(--MenuLoginTextHover);
    background-color: var(--MenuLoginBackgroundHover);
}

#loginButton:active {
    color: var(--MenuLoginTextClick);
    background-color: var(--MenuLoginBackgroundClick);
}

#login {
    width:110px;
}

#login a, #login a:link, #login a:visited {
    width:100%;   
    display:block;
    
    text-decoration: none;
    font:var(--MenuLoginUsernameFont);
    font-weight:bold;
    color: var(--MenuLoginUsernameColor);
    line-height:30px;
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

#login a:hover {
    color: var(--MenuLoginUsernameColorHover);
}

#login a:active {
    color: var(--MenuLoginUsernameColorClick);
} 

#arrowContainer {
    height:30px;
    width:20px;
    padding:13px 10px 0 20px;
    
    cursor:pointer;
}

#arrowContainer svg {
    fill:var(--MenuShowHideContainerColor);
    
    -webkit-transition: transform 0.1s, fill 0.2s;
    transition: transform 0.1s, fill 0.2s;
    
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#arrowContainer:hover svg {
    fill:var(--MenuShowHideContainerColorHover);
}

#arrowContainer:active svg {
    fill:var(--MenuShowHideContainerColorClick);
}

#arrowContainer .off {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

/*Css Checkbox Switch Style*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  z-index:0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--SliderUncheckedBackground);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: var(--SliderDotColorUnchecked);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--SliderCheckedBackground);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--SliderCheckedBackground);
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
  background-color: var(--SliderDotColorChecked);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

/*Login Dialog Style*/

#loginClickLayer {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:100%;
    background-color:var(--ClickOverlayBackgroundColor);
    opacity:0;
        
    -webkit-transition: opacity 0.2s ease-out, left 0s linear 0.2s;
    transition: opacity 0.2s ease-out, left 0s linear 0.2s;
}

#loginWindow {
    width: 200px;
    height: 140px;
    padding: 20px;
    position: fixed;
    top: 50%; left: 50%;
    margin-left: 100%; /* (width + padding)/2 */
    margin-top: -80px; /* (height + padding)/2 */
    border-radius:3px;
    z-index:13;
    box-shadow: 3px 3px 4px #222;
    
    background-color:var(--LoginDialogBackgroundColor);
    
    transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
}

#keepLoggedInContainer {
    width:100%;
    margin:5px 0;
    height:20px;
}

#keepLogText {
    position:relative;
    top: -5px;
    margin: 0 0 0 5px;
    font-weight:bold;
    font:var(--LoginKeepLogTextFont);
    color:var(--LoginKeepLogTextColor);
}

.loginField {
    width: -moz-calc(100%  - 20px);
    width: -webkit-calc(100%  - 20px);
    width: -o-calc(100%  - 20px);
    width: calc(100%  - 20px);
    
    height:28px;
    border:none;
    border-radius:3px;
    background-color:var(--LoginTextBoxBackgroundColor);
    color:var(--LoginTextBoxTextColor);
    padding: 0 10px;
    margin:5px 0;
    line-height:28px;
    font:var(--LoginTextBoxTextFont);
}

.loginButtons {
    width:49%;
    height:28px;
    border:none;
    border-radius:30px;
    margin: 5px 0 0 0;
    
    font:var(--LoginButtonsTextFont);
    color:var(--LoginButtonsTextColor);
    background-color:var(--LoginButtonBackgroundColor);
    
    font-weight:bold;
    
    cursor:pointer;
    
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

.loginButtons:hover {
    background-color:var(--LoginButtonBackgroundColorHover);
    color: var(--LoginButtonsTextColorHover);
}

.loginButtons:hover {
    background-color:var(--LoginButtonBackgroundColorClick);
    color: var(--LoginButtonsTextColorClick);
}

#loginContainer[ison="true"] #loginClickLayer{
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    
    opacity: 1;
    z-index:12;
    left:0;
}

#loginContainer[ison="true"] #loginWindow{
    margin-left: -110px !important; /* (width + padding)/2 */
}

/*Side - Menu Styles*/

#sideMenu {
    position:fixed;
    width:300px;
    
    height: -moz-calc(100%  - 48px);
    height: -webkit-calc(100%  - 48px);
    height: -o-calc(100%  - 48px);
    height: calc(100%  - 48px);
    
    top:48px;
    left:-300px;
    
    -webkit-transition: left 0.2s ease-out;
    transition: left 0.2s ease-out;
    
    z-index:11;
    
    background-color:var(--SideMenuBackgroundColor);
    overflow-x: hidden;
    overflow-y: scroll;
}

#noneScroll {
    width: 100%;
}

#menuClickLayer {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:100%;
    background-color:var(--ClickOverlayBackgroundColor);
    opacity:0;
    
    -webkit-transition: opacity 0.2s ease-out, left 0s linear 0.2s;
    transition: opacity 0.2s ease-out, left 0s linear 0.2s;
}

#menuBurgerContainer[ison="true"] #sideMenu, #menuIconHoverExtender:hover + #sideMenu, #sideMenu:hover {
    left:0;
}

#menuBurgerContainer[ison="true"] #menuClickLayer{
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    
    opacity: 1;
    z-index:10;
    left:0;
}

#sideMenuNavigation {
    width:100%;
    height:auto;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--SideMenuBottomLineColor);
}

.sideMenuText {
    height:40px;
    width:100%;
    display:block;
    font:var(--SideMenuTitelTextFont);
    line-height:40px;
    padding: 0 0 0 10px;
    color:var(--SideMenuTitelTextFontColor);
    font-weight:bold;
}

.navRow {
    width:100%;
    height:40px;
    cursor:pointer;
    background-color:var(--SideMenuNavigationBackground);
    color:var(--SideMenuNavigationTextColor);
    fill:var(--SideMenuIconColor);
    
    -webkit-transition: fill 0.2s, color 0.2s, background-color 0.2s;
    transition: fill 0.2s, color 0.2s, background-color 0.2s;
}

.navRow span  {
    font:var(--SideMenuNavigationFont);
    line-height:40px;
    margin:0 0 0 10px;
}

.navRow:hover, a:focus .navRow {
    background-color:var(--SideMenuNavigationBackgroundHover);
    color:var(--SideMenuNavigationTextColorHover);
    fill:var(--SideMenuIconColorHover);
}

.navRow:active {
    background-color:var(--SideMenuNavigationBackgroundClick);
    color:var(--SideMenuNavigationTextColorClick);
    fill:var(--SideMenuIconColorClick);
}

.onSite.navRow {
    fill:var(--SideMenuIconColorHover);
}

.navIcon {
    height:24px;
    width:24px;
    padding:8px;
    margin: 0 0 0 10px;
}

#favoriteMenu {
    width:100%;
    height:auto;
}

.syncButton {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 3px;
    font:var(--SideMenuSyncButtonTextFont);
    font-weight: bold;
    color: var(--SideMenuSyncButtonTextColor);
    background-color: var(--SideMenuSyncButtonBackgroundColor);
    cursor: pointer;
    margin:0 5px;
    
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

#syncbuttons {
    float:initial !important;
    width:225px;
    margin:5px auto 20px auto;
}

.syncButton:hover {
    color: var(--SideMenuSyncButtonTextColorHover);
    background-color: var(--SideMenuSyncButtonBackgroundColorHover);
}

.syncButton:active {
    color: var(--SideMenuSyncButtonTextColorClick);
    background-color: var(--SideMenuSyncButtonBackgroundColorClick);
}

#favoriteContainer{
    width:100%;
    height:auto;
}

.loader {
    float:initial !important;
    border: 10px solid var(--LoadingCircle270Color);
    border-top: 10px solid var(--LoadingCircle90Color);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin:10px auto;
    z-index:0;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#favTable {
    width: 100%;
    
    height:auto;
    
    border-spacing:0;
    margin:5px 0px -5px 0px;
}

.favRow {
    fill:var(--FavoriteMenuCloseIconColor);
    font:var(--FavoriteMenuRowTextFont);
    background-color:var(--FavoriteMenuRowBackgroundColor);
    
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.favRow:hover , .favRow:focus{
    background-color:var(--FavoriteMenuRowBackgroundColorHover);
}

.favRow:active {
    background-color:var(--FavoriteMenuRowBackgroundColorClick);
}

.favRow td:nth-child(2) {
    width:98%;
}

.favFirst {
    padding: 5px 0px 5px 20px;
    width: 186px;
    border-radius:3px;
    color:var(--FavoriteMenuNameColTextColor);
    cursor:pointer;
    font-weight:bold;
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    
    line-height:34px;
}

.favFirst:hover{
    color:var(--FavoriteMenuNameColTextColorHover);
}

.favFirst:active {
    color:var(--FavoriteMenuNameColTextColorClick);
}

.favRow td:nth-child(3) {
    width:1%; 
}

.favSeco {
    color:var(--FavoriteMenuSeasonColTextColor);
    font-weight:bold;
    border-radius:3px;
    width: 100%;
    padding: 5px 20px 5px 0px;
    text-align: center;
    height:20px;
    line-height: 20px;
}

.favSeco.favWatched {
    color:var(--FavoriteMenuSeasonColTextColorWatched);
    background-color: var(--FavoriteMenuSeasonColBackgroundcolorWatched);
    border-radius: 50px;
}

.favRow td:nth-child(1) {
    width:1%;
}

.favDel {
    padding:4px 10px 6px 10px;
    border-radius: 1000px;
    background-color:var(--FavoriteMenuCloseColBackgroundColor);
    cursor:pointer;
    width: 10px;
    height:20px;
    margin:0 0 0 10px;
    
    -webkit-transition: fill 0.2s, background-color 0.2s;
    transition: fill 0.2s, background-color 0.2s;
}

.favDel:hover {
    fill:var(--FavoriteMenuCloseIconColorHover);
    background-color:var(--FavoriteMenuCloseColBackgroundColorHover);
}

.favDel:active {
    fill:var(--FavoriteMenuCloseIconColorClick);
    background-color:var(--FavoriteMenuCloseColBackgroundColorClick);
}

.favDel svg {
    height:10px;
    width:10px;
}

#favMessageLayer {
    width:100%;
    height:auto;
    color:var(--FavoriteMenuMessageTextColor);
    font:var(--FavoriteMenuMessageTextFont);
    text-align:center;
    opacity:0;
    margin:0 0 5px 0;
    
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

/*Content Container Cstyles*/

#noneMenu{
    padding:48px 0px 0px 0px;
    width:100%;
    
    height: auto;
}

#mainContent {
    height:100%;
    width:auto;
    position:relative;
    z-index:0;
}

#sideContainer {
    width: 400px;
    height: auto;
    float:right;
    margin-top:0px;
    overflow:hidden;
    position:absolute;
    right:0px;
    
    -webkit-transition: width 0.1s linear;
    transition: width 0.1s linear;
}

#sideContainerContent {
    width: 340px;
    padding:40px 20px 20px 40px;
}

#contentContainer {
    width: -moz-calc(100%  - 480px);
    width: -webkit-calc(100%  - 480px);
    width: -o-calc(100%  - 480px);
    width: calc(100%  - 480px);

    float:left;
    
    padding:40px;
    
    -webkit-transition: width 0.1s linear;
    transition: width 0.1s linear;
}

#contentContainer[ison="true"] {
    width: -moz-calc(100%  - 80px);
    width: -webkit-calc(100%  - 80px);
    width: -o-calc(100%  - 80px);
    width: calc(100%  - 80px);
}

#contentContainer[ison="true"] + #sideContainer{
    width:0px;
}

#prContainer{
    width:100%;
    height:auto;
    
    background-color:var(--MenuProgressbarBackgroundColor);
}

#prBar {
    width:0%;
    height:0px;
    float:left;
    
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    
    background-color:var(--MenuProgressbarBarColor);
}

.barActive {
    height:5px !important;
}

#dialogClickLayer {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:100%;
    background-color:var(--ClickOverlayBackgroundColor);
    opacity:0;
    
    -webkit-transition: opacity 0.2s ease-out, left 0s linear 0.2s;
    transition: opacity 0.2s ease-out, left 0s linear 0.2s;
    z-index:13;
}

#dialogClickLayer[ison="true"]{
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    
    opacity: 1;
    left:0;
}

#dialogCloseIcon {
    position:absolute;
    top:0;
    right:0;
    fill:var(--DialogWindowCloseIconColor);
    width:20px;
    height:20px;
    padding:10px;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

#dialogCloseIcon:hover {
    fill:var(--DialogWindowCloseIconColorHover);
}

#dialogCloseIcon:active {
    fill:var(--DialogWindowCloseIconColorClick);
}

#dialogWindow {
    width: auto;
    height: auto;

    border-radius:3px;
    background-color:var(--DialogWindowBackgroundColor);
    overflow:hidden;

    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    
    max-height:10px;
    max-width:0px;
    
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    
    padding:5px;
    
    -webkit-transition: max-height 0.1s linear 0.2s, max-width 0.1s linear 0.2s;
    transition: max-height 0.1s linear 0.2s, max-width 0.1s linear 0.2s;
}

#dialogClickLayer[ison="true"] #dialogWindow {
    -webkit-transition: max-height 0.3s linear 0.4s, max-width 0.3s linear 0.2s;
    transition: max-height 0.3s linear 0.4s, max-width 0.3s linear 0.2s;
    
    max-height:100%;
    max-width:100%;
}

.seriesContainer {
    width:100%;
    height:67px;
    
    margin:0 0 5px 0;
}

.nonButtonContainer {
    /*Minus .buttonContainer width*/
    width: -moz-calc(100%  - 40px); 
    width: -webkit-calc(100%  - 40px);
    width: -o-calc(100%  - 40px);
    width: calc(100%  - 40px);
    
    /*Minus .buttonContainer is Higher*/
    height: auto;
    
    float:left;
    margin:12px 0 0 0;
}

.buttonContainer {
    width:40px;
    height:67px;
    float:right;
    
    background-color:var(--ListRowSegmentSecondaryBackgroundColor);
    border-radius:3px 3px 3px 0;
}

.nameWatchedContainer {
    width: 100%;
    
    /*Minus .genrePicContainer height*/
    height: 30px;
    
    box-shadow: -2px 2px 4px rgba(0,0,0,0.8);
    cursor:pointer;
    overflow:hidden;
}

.genrePicContainer {
    /*Minus gap width*/
    width: -moz-calc(100%  - 60px);
    width: -webkit-calc(100%  - 60px);
    width: -o-calc(100%  - 60px);
    width: calc(100%  - 60px);
    
    height:25px;
    float:right;
}

.genreTriangeContainer {
    height:25px;
    
    /*Minus .pictureContainer width*/
    width: -moz-calc(100%  - 17.5px);
    width: -webkit-calc(100%  - 17.5px);
    width: -o-calc(100%  - 17.5px);
    width: calc(100%  - 17.5px);
    
    float:left;
    position:relativ;
    
    overflow:hidden;
}

.triangle {
    width:0px;
    height:0px;
    
    margin:-25px 0px 0px 0px;
    float:left;

    border-style: solid;
    border-width: 25px 25px 25px 0;
    border-color: transparent var(--ListRowSegmentSecondaryBackgroundColor) transparent transparent;
}

.genreContainer {
    width: -moz-calc(100%  - 25px);
    width: -webkit-calc(100%  - 25px);
    width: -o-calc(100%  - 25px);
    width: calc(100%  - 25px);
    
    height:25px;
    float:right;
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    
    background-color:var(--ListRowSegmentSecondaryBackgroundColor);
    
    font:var(--ListRowSegmentGenreTextFont);
    color:var(--ListRowSegmentGenreTextColor);
    line-height:25px;
    font-weight:bold;
}

.pictureContainer {
    height:25px;
    width:17.5px; /*height * 0.7*/
    float:right;
    
    background-color:var(--ListRowSegmentSecondaryBackgroundColor);
}

.watchedContainer {
    height:30px;
    width:10px;
    
    float:left;
    
    background-color:var(--ListRowSegmentUnwatchedBackgroundColor);
    border-radius:3px 0 0 3px;
}

.watchedSeries {
    background-color:var(--ListRowSegmentWatchedBackgroundColor);
}

.titleContainer {
    height:30px;
    
    /*Minus .watchedContainer width and padding*/
    width: -moz-calc(100%  - 50px);
    width: -webkit-calc(100%  - 50px);
    width: -o-calc(100%  - 50px);
    width: calc(100%  - 50px);
    
    float:right;
    
    background-color:var(--ListRowSegmentPrimaryBackgroundColor);
    
    padding: 0 20px 0 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font:var(--ListRowSegmentTitleTextFont);
    color:var(--ListRowSegmentTitleTextColor);
    line-height:30px;
    font-weight:bold;
    
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

.seriesPicture {
    height:25px;
    width:17.5px;
    background-color:var(--ListRowSegmentSecondaryBackgroundColor);
    
    margin:0px 0px 0px 0px;
    
    -webkit-transition: height 0.5s, width 0.5s, margin 0.5s;
    transition: height 0.5s, width 0.5s, margin 0.5s;
    
    cursor:pointer;
}

.seriesPicture[data-id] {
    background-color:var(--ListRowSegmentNoneLoadedPictureBackgroundColor);
}

.seriesPicture[data-id]:hover {
    height:120px;
    width:84px;
    margin:-95px 0px 0px -27px;
}

.favIcon {
    width:20px;
    height:20px;
    padding:10px 9px 0 11px;
    cursor:pointer;
}

.seriesTick {
    width:16px;
    height:16px;
    padding: 10px 11px 5px 13px;
    fill:var(--ListRowSegmentTickIconColor);
    cursor:pointer;

    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.seriesTick:hover {
    fill:var(--ListRowSegmentTickIconColorHover);
}

.seriesTick:active { 
    fill:var(--ListRowSegmentTickIconColorClick);
}

.tickCheck {
    fill:var(--ListRowSegmentTickIconColorChecked);
}

.tickCheck:hover {
    fill:var(--ListRowSegmentTickIconColorCheckedHover);
}

.tickCheck:active {
    fill:var(--ListRowSegmentTickIconColorCheckedClick);
}

.nameWatchedContainer:hover .titleContainer, .seriesContainer:focus .titleContainer {
    background-color:var(--ListRowSegmentPrimaryBackgroundColorHover);
    color:var(--ListRowSegmentTitleTextColorHover);
}

.nameWatchedContainer:active .titleContainer {
    background-color:var(--ListRowSegmentPrimaryBackgroundColorClick);
    color:var(--ListRowSegmentTitleTextColorClick);
}

.noFav {
    fill:var(--ListRowSegmentNoFavIcon);
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.noFav:hover {
    fill:var(--ListRowSegmentNoFavIconHover);
}

.noFav:active {
    fill:var(--ListRowSegmentNoFavIconClick);
}

.Fav {
    fill:var(--ListRowSegmentFavIcon);
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.Fav:hover {
    fill:var(--ListRowSegmentFavIconHover);
}

.Fav:active {
    fill:var(--ListRowSegmentFavIconClick);
}

.mainSiteTitle {
    font:var(--MainSiteTitelTextFont);
    color:var(--MainSiteTitelTextColor);
    margin:0 0 20px 0;
    font-weight:bold;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow:hidden;
}

.sideSiteTitel {
    font:var(--MainSiteTitelTextFont);
    color:var(--MainSiteTitelTextColor);
    margin:0 0 10px 0;
    font-weight:bold;
    letter-spacing: 2px;
}

.sortingButton {
    font:var(--SeriesListSideContainerSortingButtonTextFont);
    
    width: 310px;
    
    height:30px;
    margin:0 0 10px 0;
    text-decoration:none;
    overflow:hidden;
    float:right;
    
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    cursor:pointer;
}

.sideTriangle {
    width:0px;
    height:0px;
    
    margin:-30px 0px 0px 0px;
    float:left;
    
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent var(--SeriesListSideContainerSortingButtonBackgroundColor) transparent transparent;
    
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.sortingText {
    width: -moz-calc(100%  - 30px);
    width: -webkit-calc(100%  - 30px);
    width: -o-calc(100%  - 30px);
    width: calc(100%  - 30px);
    
    height:100%;
    
    line-height:30px;
    background-color:var(--SeriesListSideContainerSortingButtonBackgroundColor);
    float:right;
    color:var(--SeriesListSideContainerSortingButtonTextColor);
    font-weight:bold;
    
    border-radius:0 3px 3px 0;
    
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

.sortingButton:hover {
    width:340px;
}

.sortingButton:hover .sideTriangle {
    border-color: transparent var(--SeriesListSideContainerSortingButtonBackgroundColorHover) transparent transparent;
}

.sortingButton:hover .sortingText {
    color:var(--SeriesListSideContainerSortingButtonTextColorHover);
    background-color:var(--SeriesListSideContainerSortingButtonBackgroundColorHover);
}

.sortingButton:active .sideTriangle {
    border-color: transparent var(--SeriesListSideContainerSortingButtonBackgroundColorClick) transparent transparent;
}

.sortingButton:active .sortingText {
    color:var(--SeriesListSideContainerSortingButtonTextColorClick);
    background-color:var(--SeriesListSideContainerSortingButtonBackgroundColorClick);
}

.titleContainer i {
    font:var(--ListRowSegmentTitleTextFont);
    font-style:italic;
}

.titleContainer strong {
    font:var(--ListRowSegmentTitleTextFont);
    font-weight:bold;
}

.hosterContainer {
    width: -moz-calc(100%  - 45px);
    width: -webkit-calc(100%  - 45px);
    width: -o-calc(100%  - 45px);
    width: calc(100%  - 45px);
    
    height:25px;
    float:right;
    
    padding: 0 20px 0 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    
    background-color:var(--ListRowSegmentSecondaryBackgroundColor);
    
    font:var(--ListRowSegmentGenreTextFont);
    color:var(--ListRowSegmentGenreTextColor);
    line-height:35px;
    font-weight:bold;
}

.hosterTriangeContainer {
    height:25px;
    
    /*Minus .pictureContainer width*/
    width: -moz-calc(100%  - 25px);
    width: -webkit-calc(100%  - 25px);
    width: -o-calc(100%  - 25px);
    width: calc(100%  - 25px);
    
    float:left;
    position:relativ;
    
    overflow:hidden;
}

.watchIcon {
    width:24px;
    height:30px;
    padding:3px 7px 0px 8px;
    cursor:pointer;
    fill:var(--ListRowSegmentNoFavIcon);
    
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.watchIcon:hover {
    fill:var(--ListRowSegmentNoFavIconHover);
}

.watchIcon:active {
    fill:var(--ListRowSegmentNoFavIconClick);
}

.watchedEpiContainer {
    height:30px;
    width:10px;
    
    float:left;
    
    background-color:var(--ListRowSegmentUnwatchedBackgroundColor);
    border-radius:3px 0 0 3px;
}

.episodeWatched .watchIcon{
    fill:var(--ListRowSegmentFavIcon);
}

.episodeWatched .watchIcon:hover{
    fill:var(--ListRowSegmentFavIconHover);
}

.episodeWatched .watchIcon:active{
    fill:var(--ListRowSegmentFavIconClick);
}

.episodeWatched .watchedEpiContainer {
    background-color:var(--ListRowSegmentWatchedBackgroundColor);;
}

.indexCont {
    color:var(--ListRowSegmentIndexColor);
    text-align:center;
    width:40px;
    font:var(--ListRowSegmentIndexFont);
    font-weight:bold;
    margin:5px 0 0 0;
}

.hosterIcon {
    display: inline-block;
    height:20px;
    width:20px;
    background-image: url(https://bs.to/public/img/icons.v33.png);
    background-size: 960px 20px;
    margin:0 7px;
}

.Vivo {
    background-position: -812px 0;
}

.OpenLoad {
    background-position: -848px 0;
}

.OpenLoadHD {
    background-position: -906px 0;
}

.Streamango {
    background-position: -941px 0;
}

.AuroraVid {
    background-position: -717px 0;
}

.FlashX {
    background-position: -679px 0;
}

.TheVideo {
    background-position: -924px 0;
}

.Vidto {
    background-position: -887px 0;
}

.YouWatch {
    background-position: -698px 0;
}

.CloudTime {
    background-position: -642px 0;
}

.addAutoplayButton {
    float:left;
    height:25px;
    width:25px;
    background-color:var(--ListRowSegmentSecondaryBackgroundColor);
    color:var(--ListRowAddPlaylistIconColor);
    text-align: center;
    line-height: 20px;
    font-size: 25px;
    font-weight: 900;
    
    cursor:pointer;
    
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.addAutoplayButton:hover {
    color:var(--ListRowAddPlaylistIconColorHover);
}

.addAutoplayButton:active {
    color:var(--ListRowAddPlaylistIconColorClick);
}

#dialogClickLayer[ison="true"] #dialogWindow * {
    opacity:0;
    animation: showSeriesTitlePic 0.2s linear forwards;
    
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@keyframes showSeriesTitlePic {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#dialogWindow .imgTable {
    width:360px;
    border-spacing:0;
    
    table-layout:fixed;
    border: none;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#dialogWindow td{
    padding:0 10px 0 10px;
    color:var(--DialogWindowTextColor);
    font:var(--DialogWindowTextFont);
    font-weight:bold;
    line-height:30px;
    
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#dialogWindow tr:first-child td {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--DialogWindowLineColor);
}

#sideContainer img {
    width:180px;
    margin:20px auto;
    display:block;
}

#infoText {
    color:var(--EpisodeListSideContainerInfoDescriptionTextColor);
    font:var(--EpisodeListSideContainerInfoDescriptionTextFont);
    text-align:justify;
    margin: 0 0 20px 0;
}

#infoTable {
    font:var(--EpisodeListSideContainerInfoTableTextFont);
}

#infoTable tr td:first-child {
    color:var(--EpisodeListSideContainerInfotableTextColorFirst);
    font-weight:bold;
    padding: 5px 5px 5px 0;
}

#infoTable tr td:nth-child(2) {
    color:var(--EpisodeListSideContainerInfotableTextColorSecond);
}

#seasonContainer {
    width: -moz-calc(100%  - 480px);
    width: -webkit-calc(100%  - 480px);
    width: -o-calc(100%  - 480px);
    width: calc(100%  - 480px);
    
    height:50px;
    background-color:red;
    z-index:0;
    
    margin:0 0 20px 0;
    
    position:absolute;
    top:94px;
    left:40px;
    
    background-color:transparent;
    overflow: hidden;
    
    -webkit-transition: width 0.1s linear, left 0.1s linear, background-color 0.1s linear;
    transition: width 0.1s linear, left 0.1s linear, background-color 0.1s linear;
}

#contentContainer[ison="true"] #seasonContainer {
    width: -moz-calc(100%  - 80px);
    width: -webkit-calc(100%  - 80px);
    width: -o-calc(100%  - 80px);
    width: calc(100%  - 80px);
}

#seasonContainer.fixedSeason {
    -webkit-transition: width 0.3s linear, left 0.3s linear, background-color 0.3s linear;
    transition: width 0.3s linear, left 0.3s linear, background-color 0.3s linear;
    
    position: fixed;
    top:48px;
    left:0;
    width:100% !important;
    background-color:var(--SeasonListFixedBackgroundColor);
    z-index:1;
}

#seasonContainerSpaceTaker { /*Same as #seasonContainer*/
    height:50px;
    margin:0 0 20px 0;
}

.fixedSeason + #seasonContainerSpaceTaker {
    display:none;
}

#seasonTable {
    border-collapse: separate;
    border-spacing: 5px 10px;
    width:100%; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#seasonTable td {
    border-radius:50px;
    color:var(--SeasonListSegmentTextColor);
    font:var(--SeasonListTextFont);
    text-decoration: none;
    font-weight:bold;
    line-height:12px;
    text-align: center;
    width:1%;
    cursor:pointer;
    
    -webkit-transition: fill 0.2s, background-color 0.2s, color 0.2s;
    transition: fill 0.2s, background-color 0.2s, color 0.2s;
}

#favSeasonStar {
    padding: 5px 5px 5px 5px;
    width:0.000000001% !important;
    background-color:var(--SeasonListSegmentUnwatchedBackgroundColor);
}

.seasonNoFav {
    fill:var(--SeasonListFavNoFav);
}

.seasonNoFav:hover {
    fill:var(--SeasonListFavNoFavHover);
}

.seasonNoFav:active {
    fill:var(--SeasonListFavNoFavClick);
}

.seasonFav {
    fill:var(--SeasonListFavFav);
}

.seasonFav:hover {
    fill:var(--SeasonListFavFavHover);
}

.seasonFav:active {
    fill:var(--SeasonListFavFavClick);
}

.thisSeasonFav {
    fill:var(--SeasonListFavThisFav);
}

.thisSeasonFav:hover {
    fill:var(--SeasonListFavThisFavHover);
}

.thisSeasonFav:active {
    fill:var(--SeasonListFavThisFavClick);
}

#favSeasonStar svg {
    width:20px;
    height:20px;
}

#seasonTable .watched {
    background-color:var(--SeasonListSegmentWatchedBackgroundColor);
}

#seasonTable .watched:hover {
    background-color:var(--SeasonListSegmentWatchedBackgroundColorHover);
}

#seasonTable .watched:active {
    background-color:var(--SeasonListSegmentWatchedBackgroundColorClick);
}

#seasonTable .unwatched {
    background-color:var(--SeasonListSegmentUnwatchedBackgroundColor);
}

#seasonTable .unwatched:hover {
    background-color:var(--SeasonListSegmentUnwatchedBackgroundColorHover);
}

#seasonTable .unwatched:active {
    background-color:var(--SeasonListSegmentUnwatchedBackgroundColorClick);
}

#seasonTable .active {
    background-color:var(--SeasonListSegmentActiveBackgroundColor);
}

#seasonTable .active:hover {
    background-color:var(--SeasonListSegmentActiveBackgroundColorHover);
}

#seasonTable .active:active {
    background-color:var(--SeasonListSegmentActiveBackgroundColorClick);
}

#seasonTable .watched.active {
    background-color:var(--SeasonListSegmentActiveWatchedBackgroundColor);
}

#seasonTable .watched.active:hover {
    background-color:var(--SeasonListSegmentActiveWatchedBackgroundColorHover);
}

#seasonTable .watched.active:active {
    background-color:var(--SeasonListSegmentActiveWatchedBackgroundColorClick);
}

.showSeasonText:before {
    content: 'Season '
}

#watchAll, #unwatchAll {
    background-color: var(--EpisodeListSideContainerWatchButtonBackgroundColor);
    border:none;
    width:100px;
    color:var(--EpisodeListSideContainerWatchButtonTextColor);
    font:var(--EpisodeListSideContainerWatchButtonTextFont);
    border-radius: 3px;
    height:30px;
    margin:20px 10px 0 60px;
    font-weight: bold;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#unwatchAll {
    margin:20px 60px 0 10px;
}

#watchAll:hover, #unwatchAll:hover {
    color:var(--EpisodeListSideContainerWatchButtonTextColorHover);
    background-color: var(--EpisodeListSideContainerWatchButtonBackgroundColorHover);
}

#watchAll:active, #unwatchAll:active {
    color:var(--EpisodeListSideContainerWatchButtonTextColorClick);
    background-color: var(--EpisodeListSideContainerWatchButtonBackgroundColorClick);
}

.notShow *{
    display:none !important;
    width:0px !important;
}

.notShow {
    width:0px !important;
}

.settingContainer {
    margin:10px auto 0 auto;
    width: -moz-calc(100%  - 20px);
    width: -webkit-calc(100%  - 20px);
    width: -o-calc(100%  - 20px);
    width: calc(100%  - 20px);
    max-height:20px;
    
    -webkit-transition: max-height 0.1s linear;
    transition: max-height 0.1s linear;
    
    overflow:hidden;
    padding: 0 10px 10px 10px
}

.settingContainer[ison="true"] {
    max-height:1000px;
}

#hosterSortContainer div {
    display:inline-block;
}

#hosterSortContainer ul {
    width:100%;
    list-style-type: none;
    font:var(--SettingsHosterSortTextFont);
    
    cursor:grab;
}

#hosterSortContainer li {
    height:30px;
    width:100%;
    line-height:30px;
    margin: 5px 0;
    
    background-color:var(--SettingsHosterSortNameBackgroundColor);
    border-radius:3px;
    
    box-shadow: 0px 0px 7px rgba(0,0,0,0.8);
}

#hosterSortContainer li.sortableGhost * {
    display:none;
}

#hosterSortContainer li.sortableGhost {
    background-color:var(--SettingsGhostBackgroundColor);
}

#hosterSortContainer .sortIndex {
    width:30px;
    background-color:var(--SettingsHosterSortIndexBackgroundColor);
    color:var(--SettingsHosterSortIndexTextColor);
    
    font-weight:bold;
    border-radius:3px 0 0 3px;
    text-align:center;
}

#hosterSortContainer .hosterName {
    width: -moz-calc(100%  - 40px);
    width: -webkit-calc(100%  - 40px);
    width: -o-calc(100%  - 40px);
    width: calc(100%  - 40px);
    
    padding: 0 0 0 10px;   
    color:var(--SettingsHosterSortNameTextColor);    
}

#hosterSortContainer li[sup="true"] .hosterName {
    font-weight:bold;
}

.settingHeader {
    width:100%;
    height:30px;
    color:var(--SettingsTitleTextColor);
    font:var(--SettingsTitleTextFont);
    line-height:30px;
    
    fill:var(--SettingsDropdownArrowColor);
    
    cursor:pointer;
}

.settingHeader h3 {
    display:inline;
    padding: 0 0 0 10px;
    position:relative;
    top:-9px;
}

.settingHeader svg {
    width:14px;
    height:14px;
    
    padding: 8px;
    
    -webkit-transition: transform 0.1s;
    transition: transform 0.1s;
    
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.settingContainer[ison="true"] svg {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sortable-chosen {
    cursor:grabbing;
}

#stylesApply {
    width:100%;
    height:30px;
    
    font:var(--SettingsStyleDropdownTextFont);
    
    border:none;
    background-color:var(--SettingsStyleDropdownBackgroundColor);
    color:var(--SettingsStyleDropdownTextColor);
    font-weight: bold;
    border-radius: 3px;
    cursor:pointer;
}

#stylesApply option{
    background-color:var(--SettingsStyleDropdownOptionBackgroundColor);
    color:var(--SettingsStyleDropdownOptionTextColor);
}

#styleColorContainer span {
    height:20px;
    font:var(--SettingsStyleDropdownCustomTextFont);
    display:block;
    color:var(--SettingsStyleDropdownCustomTextColor);
    line-height:20px;
    font-weight:bold;
    margin: 10px 0 10px 10px;
}

#customStyles {
    background-color: var(--SettingsStyleTextFieldBackgroundColor);
    border:none;
    height:30px;
    font:var(--SettingsStyleTextFieldTextFont);
    line-height: :30px;
    color:var(--SettingsStyleTextFieldTextColor);
    padding: 0 0 0 10px;
    
    width: -moz-calc(100%  - 175px);
    width: -webkit-calc(100%  - 175px);
    width: -o-calc(100%  - 175px);
    width: calc(100%  - 175px);
    border-radius: 3px;
    font-weight: bold;
}

#styleColorContainer button {
    height:30px;
    border:none;
    padding: 0 5px 0 5px;
    width:160px;
    background-color: var(--SettingsStyleApplyButtonBackgroundColor);
    color:var(--SettingsStyleApplyButtonTextColor);
    margin:0 0 0 5px;
    border-radius: 3px;
    font-weight: bold;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#styleColorContainer button:hover {
    background-color: var(--SettingsStyleApplyButtonBackgroundColorHover);
    color:var(--SettingsStyleApplyButtonTextColorHover);
}

#styleColorContainer button:active {
    background-color: var(--SettingsStyleApplyButtonBackgroundColorClick);
    color:var(--SettingsStyleApplyButtonTextColorClick);
}

.settingCheckbox, .settingInput {
    display:block;
    height:30px;
    background-color: var(--SettingsGeneralItemBackgroundColor);
    font:var(--SettingsGeneralItemTextFont);
    color:var(--SettingsGeneralItemTextColor);
    line-height: 30px;
    margin:5px 0;
    border-radius: 3px;
    overflow: hidden;
    font-weight: bold;
}

.settingCheckbox .switch {
    margin:0 50px 0 30px;
    position:relative;
    top:5px;
}

.settingInput input {
    height:30px;
    width:100px;
    padding:0 0 0 5px;
    margin: 0 15px 0 0;
    color: var(--SettingsGeneralInputTextColor);
    font:var(--SettingsGeneralInputTextFont);
    border:none;
    font-weight: bold;
    background-color: var(--SettingsGeneralInputBackgroundColor);
    text-align: center;
}

#updateList {
    height:30px;
    border:none;
    padding: 0 5px 0 5px;
    width:100%;
    background-color: var(--SettingsGeneralButtonBackgroundColor);
    color:var(--SettingsGeneralButtonTextColor);
    border-radius: 3px;
    font-weight: bold;
    margin: 0 0 5px 0;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#updateList:hover {
    background-color: var(--SettingsGeneralButtonBackgroundColorHover);
    color:var(--SettingsGeneralButtonTextColorHover);
}

#updateList:active {
    background-color: var(--SettingsGeneralButtonBackgroundColorClick);
    color:var(--SettingsGeneralButtonTextColorClick);
}

#removeLog {
    height:30px;
    border:none;
    padding: 0 5px 0 5px;
    width:100%;
    background-color: var(--SettingsGeneralButtonBackgroundColor);
    color:var(--SettingsGeneralButtonTextColor);
    border-radius: 3px;
    font-weight: bold;
    margin: 0 0 5px 0;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#removeLog:hover {
    background-color: var(--SettingsGeneralButtonBackgroundColorHover);
    color:var(--SettingsGeneralButtonTextColorHover);
}

#removeLog:active {
    background-color: var(--SettingsGeneralButtonBackgroundColorClick);
    color:var(--SettingsGeneralButtonTextColorClick);
}

.lastWatchedButton {
    font:var(--LastWatchedSideContainerSortingButtonTextFont);
    
    width: 310px;
    
    height:30px;
    margin:0 0 10px 0;
    text-decoration:none;
    overflow:hidden;
    float:right;
    
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    cursor:pointer;
}

.lastWatchedsideTriangle {
    width:0px;
    height:0px;
    
    margin:-30px 0px 0px 0px;
    float:left;
    
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent var(--LastWatchedSideContainerBackgroundColor) transparent transparent;
    
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.lastWatchedText {
    width: -moz-calc(100%  - 30px);
    width: -webkit-calc(100%  - 30px);
    width: -o-calc(100%  - 30px);
    width: calc(100%  - 30px);
    
    height:100%;
    
    line-height:30px;
    background-color:var(--LastWatchedSideContainerBackgroundColor);
    float:right;
    color:var(--LastWatchedSideContainerTextColor);
    font-weight:bold;
    
    border-radius:0 3px 3px 0;
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
}

.lastWatchedButton:hover {
    width:340px;
}

.lastWatchedButton:hover .lastWatchedsideTriangle {
    border-color: transparent var(--LastWatchedSideContainerBackgroundColorHover) transparent transparent;
}

.lastWatchedButton:hover .lastWatchedText {
    color:var(--LastWatchedSideContainerTextColorHover);
    background-color:var(--LastWatchedSideContainerBackgroundColorHover);
}

.lastWatchedButton:active .lastWatchedsideTriangle {
    border-color: transparent var(--LastWatchedSideContainerBackgroundColorClick) transparent transparent;
}

.lastWatchedButton:active .lastWatchedText {
    color:var(--LastWatchedSideContainerTextColorClick);
    background-color:var(--LastWatchedSideContainerBackgroundColorClick);
}

#logTable {
    width:100%;
    font:var(--LogTableTextFont);
}

#logTable th {
    background-color:var(--LogTableHeaderBackgroundColor);
    color:var(--LogTableHeaderTextColor);
}

#logTable th, #logTable td {
    text-align:center;
}

#logTable tr:nth-child(even) {
    background-color:var(--LogTableEvenRowBackgroundColor);
    color:var(--LogTableEvenRowTextColor);
}

#logTable tr:nth-child(odd) {
    background-color:var(--LogTableOddRowBackgroundColor);
    color:var(--LogTableOddRowTextColor);
}

#nextButton {
    margin:0 auto;
    height:30px;
    font:var(--WaitHosterButtonTextFont);
    color:var(--WaitHosterButtonTextColor);
    background-color:var(--WaitHosterButtonBackgroundColor);
    border:none;
    display:block;
    padding:0 10px;
    border-radius: 3px;
    font-weight:bold;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#nextButton:hover {
    color:var(--WaitHosterButtonTextColorHover);
    background-color:var(--WaitHosterButtonBackgroundColorHover);
}

#nextButton:active {
    color:var(--WaitHosterButtonTextColorClick);
    background-color:var(--WaitHosterButtonBackgroundColorClick);
}

#sideAutoplay {
    background-color: var(--EpisodeListAutoplaySideBackgroundColor);
    width: 320px;
    position:fixed;
    top:48px;
    z-index:4;
    padding: 50px 40px 40px 40px;
}

#timeInfotext {
    display:block;
    height:30px;
    width:320px;
    text-align: center;
    font:var(--EpisodeListAutoplayTextFont);
    font-weight: bold;
    line-height: 30px;
    
    margin: 40px 0 0px 0;
    border-radius: 3px;
    background-color: var(--EpisodeListAutoplayTextBackgroundColor);
    color:var(--EpisodeListAutoplayTextColor);
}

#autoTimeNumber {
    font:var(--EpisodeListAutoplayTextFont);
    color:var(--EpisodeListAutoplayNumberTextColor);
    font-weight: 900;
}

#nextAutoplay, #cancelAutoplay {
    background-color: var(--EpisodeListAutoplayButtonTextBackgroundColor);
    border:none;
    padding:5px;
    margin:5px;
    width:100px;
    height:30px;
    border-radius: 3px;
    font:var(--EpisodeListAutoplayButtonTextFont);
    color:var(--EpisodeListAutoplayButtonTextColor);
    font-weight: bold;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#autoplayButton {
    width:320px;
    text-align: center;
    margin: 0 0 20px 0;
}

#nextAutoplay:hover, #cancelAutoplay:hover {
    background-color: var(--EpisodeListAutoplayButtonTextBackgroundColorHover);
    color:var(--EpisodeListAutoplayButtonTextColor);
}

#nextAutoplay:active, #cancelAutoplay:active {
    background-color: var(--EpisodeListAutoplayButtonTextBackgroundColorClick);
    color:var(--EpisodeListAutoplayButtonTextColor);
}

#nextEpisodeText {
    display:block;
    width:320px;
    height: 30px;
    text-align: center;
    font:var(--EpisodeListAutoplayNextInfoTextFont);
    line-height: 30px;
    color:var(--EpisodeListAutoplayNextInfoTextColor);
    font-weight:bold;
}

#searchInfoText {
    font:var(--SeriesListSearchInfoTextTextFont);
    color:var(--SeriesListSearchInfoTextTextColor);
}

.buttomText {
    position: fixed;
    width:100%;
    height: 30px;
    font:var(--SeriesListBottomTextTextFont);
    line-height: 30px;
    
    left:0;
    bottom:-30px;
    background-color: var(--SeriesListBottomTextTextBackgroundcolor);
    color:var(--SeriesListBottomTextTextColor);
    font-weight:bold;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
    
    z-index:0;
}

.buttomText.showBottomText {
    bottom:0px;
}

#playlistList {
    width:100%;
    list-style-type: none;
    font:var(--PlaylistListTextFont);
    
    cursor:grab;
}

#playlistList li {
    height:30px;
    width:100%;
    line-height:30px;
    margin: 5px 0;
    
    background-color:var(--PlaylistListBackgroundColor);
    border-radius:3px;
    
    box-shadow: 0px 0px 7px rgba(0,0,0,0.8);
}

#playlistList li.sortableGhost * {
    display:none;
}

#playlistList li.sortableGhost {
    background-color:var(--PlaylistListGhostBackgroundColor);
}

#playlistList div {
    display:inline-block;
}

#playlistList li .delCol {
    width:20px;
    height:20px;
    padding:5px;
    fill:var(--PlaylistListDeleteIconColor);
    background-color:var(--PlaylistListDeleteIconBackgroundColor);
    position: relative;
    top:-4px;
    z-index: 0;
    cursor:pointer;
    
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

#playlistList li .delCol:hover {
    fill:var(--PlaylistListDeleteIconColorHover);
}

#playlistList li .delCol:active {
    fill:var(--PlaylistListDeleteIconColorClick);
}

#playlistList li .indexCol{
    height:30px;
    width:30px;
    line-height: 30px;
    color:var(--PlaylistListIndexTextColor);
    background-color: var(--PlaylistListIndexTextBackgroundColor);
    text-align: center;
    font-weight: bold;
    overflow:hidden;
}

#playlistList li .infoCol{
    height:30px;

    width: -moz-calc(100%  - 80px);
    width: -webkit-calc(100%  - 80px);
    width: -o-calc(100%  - 80px);
    width: calc(100%  - 80px);
    
    padding: 0 0 0 20px;
    
    line-height: 30px;
    color:var(--PlaylistListInfoTextColor);
    background-color: var(--PlaylistListInfoTextBackgroundColor);
    
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

#playlistList li .infoCol .seriesNameCol {
    font-weight: bold;
    padding: 0 10px 0 0
}

#playlistList li .infoCol .seasonCol {
    padding: 0 10px 0 0
}

#playlistList li .infoCol .episodeCol {
    font-style: italic;
    padding: 0 10px 0 0
}

#PlaylistPlay, #clearAllPlaylist {
    width:100%;
    height:30px;
    font:var(--PlaylistButtonTextFont);
    font-weight: bold;
    color:var(--PlaylistButtonTextColor);
    background-color: var(--PlaylistButtonTextBackgroundColor);
    border:none;
    margin:3px 0;
    border-radius: 3px;
    cursor: pointer;
    
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

#PlaylistPlay:hover, #clearAllPlaylist:hover {
    color:var(--PlaylistButtonTextColorHover);
    background-color: var(--PlaylistButtonTextBackgroundColorHover);
}

#PlaylistPlay:active, #clearAllPlaylist:active {
    color:var(--PlaylistButtonTextColorClick);
    background-color: var(--PlaylistButtonTextBackgroundColorClick);
}

/*Pseudo Style need for fakelistener*/
body {opacity:1 !important;}